<div id="article_content">
<h1 class="title"> 
<%= @article.title %>
</h1>
<p class="date">
submitted <%= time_ago_in_words(@article.created_at) %> Ago
<% if user_signed_in? %>
	<%= link_to 'Edit', edit_article_path(@article) %>
	<%= link_to 'delete', article_path(@article), method: :delete, data:{confirm: "Are you sure?"} %>
<%end%>
</p>
<p class ="text">
<%= @article.text %>
</p>
<div id="comments">
<h2><%= @article.comments.count%> Comments</h2>
<%= render @article.comments %>
<h3>Add a comment</h3>
<%= render "comments/form" %>
</div>
</div>