<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/css/application.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <% if user_signed_in? %>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Bloggy Blog</a>
      </div>
      <ul class="nav navbar-nav">
<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
         <li><a href="/articles/new">Add a post</a></li>


        <!-- <li><a href="#">Page 3</a></li> -->
      </ul>
    </div>

<% else %>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Bloggy Blog</a>
      </div>
      <ul class="nav navbar-nav">
         <li><a href="/users/sign_in">Login</a></li>
        <li><a href="/articles/new">Add a post</a></li>
    <li><%= link_to('Register', new_user_registration_path)  %></li>
      </ul>
    </div>
<% end %>
</nav>
<% flash.each do|name, msg| %>
<%= content_tag(:div, msg, class: "alert") %>
<%end%>

<%= yield %>

</body>
</html>
